// "_color-scheme.scss"                 v3.1.0 | 2021/10/20 | by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                          Alan-Docs Color-Scheme                           *
// *                                                                           *
// *****************************************************************************
// Custom color schemes for additional styling of the Alan-Docs project.
// Created by Tristano Ajmone.

// --------------
// Default Colors
// --------------
$verbatim-default-background: #FEFEFE;
$verbatim-default-normal:     #000000;

// ---------------
// Alan Sourcecode
// ---------------
// Based on "github.com style" for highlight.js:
// https://github.com/highlightjs/highlight.js/blob/master/src/styles/github.css
// Author:  (c) Vasily Polovnyov <vast@whiteants.net>
$GH-Whitish:    #F8F8F8;
$GH-Blackish:   #333333;
$GH-Grey:       #999988;
$GH-Green:      #008080;
$GH-DarkBlu:    #000080;
$GH-DarkRed:    #990000;
$GH-Orange:     #FF980B; // $p $n $i $t $a $l $v $$
$GH-Fuchsia:    #D572F1; // $<n> $+<n> $0<n> $-<n> $!<n> $o

// ---------
// BNF Rules
// ---------
$BNF-background: #FFEBD6;
$BNF-normal:     #492E11;

// ---------------
// Game Transcript
// ---------------
$Transcript-background: #F7FDFF;
$Transcript-normal:     #0089B6;
$Transcript-border:     #CCF2FF;
$Transcript-command:    #D90000; // RED  -- Player input
$Transcript-comment:    #BCBCBC; // GREY -- Player input comment (i.e. ";")

// --------------
// Shell Examples
// --------------
// Based on Windows 10 new CMD default colors:
// https://blogs.msdn.microsoft.com/commandline/2017/08/02/updating-the-windows-console-colors/
$CMD-Black: #0C0C0C;
$CMD-White: #F2F2F2;
// Callouts BG:
$CMD-callouts-background: #FFF945; // bright yellow

// -------------------
// Inline Highlighting
// -------------------
// Used to provide a highlighter marker effect to both text and code examples.
// Mainly used in "ALAN Beginner's Guide" to mark added code in the source code
// examples.

$highlighter-green: #A3FF8A;

// EOF //
