// "_common.scss"                       v3.1.0 | 2021/10/20 | by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                        Common Styles Definitions                          *
// *                                                                           *
// *****************************************************************************
// These are some custom styles which don't depend on the syntax highlighter
// used and can be safely used by all documents.

// =============================================================================
//                            Blocks & Code Mockups
// =============================================================================
// Some code block are not syntax higlighted but just given some basic colors
// for background, foreground and border. Mockups are fake-code blocks, usually
// employed to illustrate the styling notation of the document, or for some
// pseudocode examples that can't be highlighted properly.

// -----------------------------------------------------------------------------
/* Alan Code Notation Mockup */
// -----------------------------------------------------------------------------
// Mockup Alan code style for listing block example in §2.4 Notation.
// Applied using: [role=alan]

.listingblock.alan pre {
  color: $GH-Blackish;
  background: $GH-Whitish;
}
// -----------------------------------------------------------------------------
/* Shell/CMD */
// -----------------------------------------------------------------------------
// This isn't a syntax highlighted block, it's just a literal block with custom
// styles to emulate the look and feel of a Windows CMD, but we throw it in here
// to keep it simpler...

div.literalblock.shell pre {
  background-color: $CMD-Black;
  color: $CMD-White;

  // AsciiDoc Callouts
  .conum {
    background: $CMD-callouts-background !important;
    color: $CMD-Black !important;
  }
}
// -----------------------------------------------------------------------------
/* Game Transcripts & Player input and output */
// -----------------------------------------------------------------------------
// .play is an inline-block style for player input commands and parser responses
// that occur in the flow of text.

span.play {
  display: inline-block;
  font-size: .9375em;
  font-style: normal!important;
  padding: .1em .5ex;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.45;
  text-rendering: optimizeSpeed;
  word-wrap: break-word;
}
// .gametranscript isn't a syntax highlighted block, it's just an example block
// with custom colours.

span.play,
.exampleblock.gametranscript>.content {
  background: $Transcript-background;
  color: $Transcript-normal;
  border-color: $Transcript-border;
  // ---------------------------------------------------------------------------
  // The styles below target ADoc elements automatically handled by the update
  // script that processes game transcripts and detects user input and comment
  // input lines, and styles them accordingly via SED manipulations.
  // (found in "*.a3t" files)
  // ---------------------------------------------------------------------------
  span.comment {
    // Comments in user input are styled via:  #[comment]; some text#
    color: $Transcript-comment;
  }
  em {
    color: $Transcript-command;
  }
}

// =============================================================================
//                          Other CSS Template Tweaks
// =============================================================================
// We might as well exploit Highlight.js' stylesheet to implement other template
// tweaks instead of loading a separate CSS file.

// -----------------------------------------------------------------------------
/* Commentary Blocks */
// -----------------------------------------------------------------------------
// PARAGRAPHS WITH COMMENTARY ROLE (indented left)
//         This applies to paragraphs that comment on Alan compiler output
//         (see "App C - Run-Time Messages).

div.openblock.commentary {
  padding-left: 6em;
}

// -----------------------------------------------------------------------------
/* Inline Highlighting */
// -----------------------------------------------------------------------------
// Used to provide a highlighter marker effect to both text and code examples.
// Mainly used in "ALAN Beginner's Guide" to mark added code in the source code
// examples.

span.green {
  background-color: $highlighter-green;
}


// EOF //
