// "_hjs.scss"                          v3.0.0 | 2021/07/30 | by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                        Highlight.js Syntax Themes                         *
// *                                                                           *
// *****************************************************************************


// ------------------------
/* Highlight.js base styles */
// ------------------------
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: $verbatim-default-normal;
  background: $verbatim-default-background;
}
// -----------------------------------------------------------------------------
/* HLJS Alan */
// -----------------------------------------------------------------------------
// NOTE: We don't style numbers (.hljs-number).
code.hljs[data-lang=alan] {
  color: $GH-Blackish;
  background: $GH-Whitish;

  .hljs-comment {
    color: $GH-Grey;
  }
  .hljs-string {
    color: $GH-Green;
  }
  .hljs-built_in {
    color: $GH-DarkBlu;
  }
  .hljs-keyword {
    color: $GH-DarkRed;
  }
}
// -----------------------------------------------------------------------------
/* HLJS BNF */
// -----------------------------------------------------------------------------
// Basic colors for a BNF code block that isn't actually syntax highlighted, but
// nevertheless has the Highlight.js class on the code block.
code.hljs[data-lang=bnf] {
  color: $BNF-normal;
  background: $BNF-background;
}

// EOF //
