// "_mixins.scss"                       v1.0.0 | 2019/03/31 | by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                            Custom Sass Mixins                             *
// *                                                                           *
// *****************************************************************************

// =============================================================================
//                              Highlight Markers                               
// =============================================================================
// Style for highlighter marker effects via <mark> and <span class="[a_color]">.
// Creates gradient effect, unless both colors are the same.
// Mainly used in "ALAN Beginner's Guide" to mark added code in the sources.

// Based on a tutorial by Chris Ferdinandi:
//     https://gomakethings.com/highlighting-effect-with-css/

// -----------------------------------------------------------------------------
// YELLOW MARKER -- <mark> tag
// -----------------------------------------------------------------------------
@mixin MarkerMark($gradient1, $gradient2) {
    mark {
        background-color: $gradient1;
        @if $gradient1 != $gradient2 {
            background-image: linear-gradient(to right, $gradient1 0%, $gradient2 100%);
        } @else {
            background-image: none;;
        }
    }
}

// -----------------------------------------------------------------------------
// CUSTOM COLOR MARKERS -- <span class="[color]"> tag
// -----------------------------------------------------------------------------
// The $marker_color parameter will be the class name of the span element.

@mixin MarkerSpan($marker_color, $gradient1, $gradient2) {
    span.#{$marker_color} {
        background-color: $gradient1;
        @if $gradient1 != $gradient2 {
            background-image: linear-gradient(to right, $gradient1 0%, $gradient2 100%);
        } @else {
            background-image: none;;
        }
    }
}

// EOF //
