// v1.0.3 (2018/10/07)
// ******************************************************************************
// *                                                                            *
// *                     Highlight.js Themes for Alan-Docs                      *
// *                                                                            *
// ******************************************************************************
// Syntax highlighting color schemes for the Alan-Docs project.
// Created by Tristano Ajmone.

// ==============
// Color Palettes
// ==============

// Default
$default-background: #FEFEFE;
$default-normal:     #000;

// Alan
$Alan-background: #FEFEFE;
$Alan-normal:     #333;
$Alan-comment:    #998;
$Alan-string:     #008080;
$Alan-built_in:   #000080;
$Alan-keyword:    #990000;

// BNF
$BNF-background: #222;
$BNF-normal:     #FFCC99;

// Game Transcript
$Transcript-background: #F7FDFF;
$Transcript-normal:     #0089B6;
$Transcript-border:     #CCF2FF;

// Win CMD / MS DOS
// ----------------
// Legacy colors:
$CMD-Legacy-background: #000000; // LEGACY BLACK
$CMD-Legacy-DarkWhite:  #C0C0C0; // LEGACY DARK_WHITE
$CMD-Legacy-White:      #FFFFFF; // LEGACY WHITE
// Modern colors:
$CMD-Modern-background: #0C0C0C; // MODERN BLACK
$CMD-Modern-DarkWhite:  #CCCCCC; // MODERN DARK_WHITE
$CMD-Modern-White:      #F2F2F2; // MODERN WHITE
// Callouts BG:
$Shell-callouts-background: #FFF945; // bright yellow


// ------------------------
/* Highlight.js base styles */
// ------------------------
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: $default-normal;
    background: $default-background;
}
// -----------------------------------------------------------------------------
/* HLJS Alan */
// -----------------------------------------------------------------------------
// NOTE: We don't style numbers (.hljs-number).
code.hljs[data-lang=alan] {
    color: $Alan-normal;
    background: $Alan-background;

    .hljs-comment {
      color: $Alan-comment;
    }
    .hljs-string {
      color: $Alan-string;
    }
    .hljs-built_in {
      color: $Alan-built_in;
    }
    .hljs-keyword {
      color: $Alan-keyword;
    }
}
// -----------------------------------------------------------------------------
/* Alan Code Notation Mockup */
// -----------------------------------------------------------------------------
// Mockup Alan code style for listing block example in §2.4 Notation.
.listingblock.alan pre {
    color: $Alan-normal;
    background: $Alan-background;
}
// -----------------------------------------------------------------------------
/* HLJS BNF */
// -----------------------------------------------------------------------------
code.hljs[data-lang=bnf] {
    color: $BNF-background;
    background: $BNF-normal;
}
// -----------------------------------------------------------------------------
/* Shell/CMD */
// -----------------------------------------------------------------------------
// This isn't a syntax highlighted block, it's just a literal block with custom
// styles to emulate the look and feel of a Windows CMD, but we throw it in here
// to keep it simpler...
div.literalblock.shell pre {
    background-color: $CMD-Modern-background;
    color: $CMD-Modern-White;
    
    // AsciiDoc Callouts
    .conum {
        background: $Shell-callouts-background !important;
        color: $CMD-Modern-background !important;
    }
}
// -----------------------------------------------------------------------------
/* Game Transcripts */
// -----------------------------------------------------------------------------
// This isn't a syntax highlighted block, but we throw it in here to keep it
// simpler...
div.gametranscript,
.exampleblock.gametranscript>.content {
    background: $Transcript-background;
    color: $Transcript-normal;
    border-color: $Transcript-border;
}

// =============================================================================
//                          Other CSS Template Tweaks                           
// =============================================================================
// We might as well exploit Highlight.js' stylesheet to implement other template
// tweaks instead of loading a separate CSS file.

// -----------------------------------------------------------------------------
/* Commentary Blocks */
// -----------------------------------------------------------------------------
// PARAGRAPHS WITH COMMENTARY ROLE (indented left)
//         This applies to paragraphs that comment on Alan compiler output
//         (see "App C - Run-Time Messages).

div.openblock.commentary {
    padding-left: 6em;
}

// EOF //